@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

body {
    background-color: #24252A;
}

.flex-col {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.height-100 {
    height: 100vh;
}

.height-80 {
    height: 80vh;
}

.height-50 {
    height: 50vh;
}

.height-20 {
    height: 20vh;
}

.width-100 {
    width: 100vw;
}

.width-80 {
    width: 80vw;
}

.width-50 {
    width: 50vw;
}

.width-20 {
    width: 20vw;
}

.heading {
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: 0.2rem;
}

.img-small{
    width: 3rem;
    height: 3rem;
}

.img-medium {
    width: 6rem;
    height: 6rem;
}

.img-large {
    width: 9rem;
    height: 9rem;
}

.img-xlarge {
    width: 15rem;
    height: 15rem;
}

.img-xxlarge {
    width: 25vw;
    height: 25vh;
}

.padding-width {
    padding-left: 1%;
    padding-right: 1%;
}

.padding-width-large {
    padding-left: 10%;
    padding-right: 10%;
}

.padding-height {
    padding-top: 1%;
    padding-bottom: 1%;
}

.padding-height-large {
    padding-top: 10%;
    padding-bottom: 10%;
}

.margin-width {
    margin-left: 1%;
    margin-right: 1%;
}

.margin-width-large {
    margin-left: 10%;
    margin-right: 10%;
}

.margin-height {
    margin-top: 1%;
    margin-bottom: 1%;
}

.margin-height-large {
    margin-top: 10%;
    margin-bottom: 10%;
}

.align-center {
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

.align-left {
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.align-right {
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.align-justified {
    justify-content: space-between;
    flex-wrap: nowrap;
}

.border-round {
    border-style: solid;
    border-color: black;
    border-radius: 1rem;
    border-width: 0.5rem;
}

.flex-wrap {
    flex-wrap: wrap;
}

nav {
    display: inline-block;
}

nav li {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: rgba(160, 81, 45, 0.61);
    border-radius: 1em 1em 0 0;
    font-size: 1rem;
}

nav li:hover {
    cursor: pointer;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
    color: seashell;
}

.nav-active {
    background-color: sienna;
}

.main-content {
    background-color: sienna !important;
}